<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>预订车票</title>
<style>
        .title{
            width: 90%;
            margin: auto;
            font-family: 'Times';
            font-size: 60px;
            font-weight: 900;
            text-align: center;
            background-color: rgb(207, 213, 238);
        }
        .div{
             margin:auto;
             width:80%;
             font-size:20px;
             text-align: center;
             background-color: rgb(209, 211, 219);
        }
</style>
</head>
<body>
      <h1 class='title'>订票成功</h1>
      </table>
</body>
</html>