<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>取消订票</title>
<style>
        .title{
            width: 90%;
            margin: auto;
            font-family: 'Times';
            font-size: 60px;
            font-weight: 900;
            text-align: center;
            background-color: rgb(207, 213, 238);
        }
        .div{
             margin:auto;
             width:80%;
             font-size:20px;
             text-align: center;
             background-color: rgb(209, 211, 219);
        }
</style>
</head>
<body>
      <h1 class='title'>取消订票</h1>
      <form class="div" method="POST" target="_blank">
            用户名：<input type="text" name="username"  size="20" maxlength="5"/><br/><br>
            电话：<input type="text" name="telphone"  size="20" maxlength="5"/><br/><br/>
            <input type="submit" value="查询"/>&nbsp;&nbsp;
      </form>
      <table class='div' border=5px>
           <tr>
              <td>ID</td>
              <td>始发站</td>
              <td>终点站</td>
              <td>票价</td>
              <td>所定票数</td>
           </tr>
           <tr>
                <td>{{id}}</td>
                <td>{{username}}</td>
                <td>{{telphone}}</td>
           </tr>
      </table>
</body>
</html>